 .container {
   max-width: var(--container);
   margin: 0 auto;
   padding: 0 var(--container-step);

   @media (max-width: 991px) {
     padding: 0 var(--container-step-tablet);
   }

   @media (max-width: 600px) {
     padding: 0 var(--container-step-mobile);
   }
 }

 .rd-transfer {
   display: inline-flex;
   flex-wrap: wrap;
 }

 .page {
   display: flex;
   flex-direction: column;
   font-family: var(--font-main);
   min-height: 100vh;
   overflow: hidden;
   color: var(--main);
   background-color: var(--background-page);

   &_change {}
 }

 .main {
   flex: 1 1 auto;

   &_no-margin {
     &:not(:last-child) {
       margin-bottom: 0;
     }
   }
 }

 button,
 a {
   color: var(--main);
 }

 // Универсальные классы

 .d-block {
   display: block;
 }

 .w100 {
   min-width: 0;
   width: 100%;
 }

 .relative-z2 {
   position: relative;
   z-index: 2;
 }

 .word-break {
   word-break: break-all;
 }

 .m-auto {
   margin-left: auto;
   margin-right: auto;
 }

 .img-contain {
   object-fit: contain;
 }

 .img-cover {
   object-fit: cover;
 }

 .underline {
   text-decoration: underline;
 }

 .text-center {
   text-align: center;
 }

 .text-right {
   text-align: right;
 }

 .uppercase {
   text-transform: uppercase;
 }

 .lowercase {
   text-transform: lowercase;
 }

 .fw-100 {
   font-weight: 100;
 }

 .fw-200 {
   font-weight: 200;
 }

 .fw-300 {
   font-weight: 300;
 }

 .fw-400 {
   font-weight: 400;
 }

 .fw-500 {
   font-weight: 500;
 }

 .fw-600 {
   font-weight: 600;
 }

 .fw-700 {
   font-weight: 700;
 }

 .fw-800 {
   font-weight: 800;
 }

 .fw-900 {
   font-weight: 900;
 }

 .rd-upload img {
   opacity: 0;
   transition: opacity .3s ease-in-out;
 }

 .rd-load img {
   opacity: 1;
 }

 .scroll {
   padding-bottom: 10px;
   overflow: auto;

   &::-webkit-scrollbar {
     height: 4px;
     background-color: var(--white);
   }

   &::-webkit-scrollbar-thumb {
     background-color: var(--brown);
   }
 }